.container {  width: 25%; padding: 0.4em;  }
.video {  cursor: pointer; transition: all 0.3s; }
.video:hover { transform: scale(1.02); }
.thumbnail { width: 100%;  }
.metadata { margin-left: 0.2em; width: 100%;  }
.title, .channel { margin: 0; font-size: 0.9rem; font-weight: bold;  word-break: normal; 
    overflow: hidden;  white-space: nowrap;  text-overflow: ellipsis; }
.channel { font-size: 0.8rem; font-weight: normal; margin: 1rem 0; }
